@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Poppins, sans-serif;
}
/*-------------- Header -------------*/

.section_1 {
  background-color: #1c1c1c;
}

.navbar {
  background-color: #1c1c1c;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5rem;
}

.navbar .logo {
  margin-left: 3rem;
}
/* .navbar .menu {
  align-items: center;
  justify-content: center;
} */
.menu__list {
  display: flex;
  align-items: center;
  height: 4rem;
  font-size: 1.8rem;
  font-family: Poppins;
  list-style: none;
}
.menu__list .menu_items a {
  text-decoration: none;
  color: #fff;
  display: flex;
  margin-right: 5rem;
}

.rightmenu {
  /* position: relative; */
}
.rightmenu .menu__list {
  color: #fff;
  height: 4rem;
  margin-right: 3rem;
  display: flex;
  gap: 1.5rem;
  justify-items: center;
}
.menu__list .menu_items {
  display: flex;
  align-items: center;
}

.rightmenu .btn-pink {
  position: absolute;
  height: 2rem;
}

.menu__list .menu_items_contact {
  z-index: 2;
}

/*-------------------- Section 1 -----------------*/

.section__first {
  background-color: #1c1c1c;
  margin-top: auto;
  margin-left: 3rem;
}
.section__left__first,
.section__first__right {
  width: 50%;
  height: 85vh;
  padding: 5rem;
}
.section__left__first {
  position: relative;
}
.section__heading__left {
  font-family: Poppins;
  font-size: 5rem;
  color: #fff;
  font-weight: 600;
}
.section__heading__left .section_span_heading {
  color: #ff00ec;
}

.section__left__first .section_first_paragraph {
  color: white;
  margin-top: 6rem;
  margin-bottom: 6rem;
  font-size: small;
}
.section__left__second__para {
  display: flex;
  position: relative;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.section_get_started {
  display: flex;
  align-items: center;
}

.section_get_started .btn-pink {
  position: absolute;
  height: 2rem;
}
.get-started {
  z-index: 2;
  color: #fff;
  margin-left: 1.5rem;
  font-size: small;
}
.section__left__second__para .right-arrow {
  margin-left: 1rem;
}
.section__left__third {
  margin-top: 4rem;
  height: 5rem;
  display: flex;
}

.section__para {
  color: #fff;
  font-size: xx-large;
  font-family: Poppins;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__para .plus_icon {
  display: flex;
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 0.1rem;
  margin-right: 1rem;
  padding-bottom: 0.1rem;
}
.section__para .section_span_para {
  font-size: 1.5rem;
  margin-right: 2rem;
}
.section__left__third .vector_icon {
  height: 5rem;
  width: 0.5rem;
  margin-right: 2rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__first__right {
  position: absolute;
  top: 0;
  right: 0;
}
.section__first__right .back_card {
  position: absolute;
  top: 0;
  right: 15rem;
}
.section__first__right .front_card {
  position: absolute;
  margin-top: auto;
  top: 3rem;
  right: 5rem;
}

/*---------------- Section 2 --------------*/

.section__second {
  background-color: #2d2d2d;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}
/* .logo {
  display: flex;
  align-content: space-between;
} */

.logo_blue {
  margin-right: 5rem;
}
/*------------------ Section 3 ----------------*/

.section__third {
  height: 85vh;
  background-color: #1c1c1c;
}
.section__div {
  height: 10rem;
}

.third__left {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8rem;
}
.third__left .section__para {
  font-size: small;
  font-weight: 400;
}
.three_images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_dollar {
  text-align: center;
  width: 16.5rem;
  height: 15rem;
  margin-right: 2rem;
  border: 1px solid white;
  background-color: #2b2b2b;
  color: #fff;
  font-size: small;
  font-weight: 600;
  font-family: Poppins, sans-serif;
}
.image_dollar .dollar-svg {
  width: 6rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.image_cloud {
  text-align: center;
  width: 17.5rem;
  height: 15rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  color: #fff;
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 90, 91, 0),
    rgba(255, 116, 116, 1)
  );
  font-size: small;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  border: 0.1px solid #fff;
}
.image_cloud .cloud-svg {
  width: 6rem;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}
.image_lock {
  text-align: center;
  width: 16.5rem;
  height: 15rem;
  margin-right: 2rem;
  border: 1px solid white;
  background-color: #2b2b2b;
  color: #fff;
  font-size: small;
  font-weight: 600;
  font-family: Poppins, sans-serif;
}
.image_lock .lock-svg {
  width: 6rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

/*---------------- Section 4 ---------------*/

.section__fourth {
  height: 130vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth__top .section__heading__left {
  color: #000000;
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 3.5rem;
}
.fourth__top .fourth__para {
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: small;
  font-weight: 600;
  padding: 1rem;
}

.section__fourth .vcard .vcard_image {
  height: 70rem;
  width: 100%;
}

/*----------------- Section 5 --------------*/

.section__fifth {
  background-color: #1c1c1c;
  height: 110vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fifth__top .section__heading__left {
  text-align: center;
  margin-bottom: 3rem;
}
.fifth__top .fifth__para {
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
  font-size: medium;
}

.comment__box__top__2 {
  display: flex;
  margin-bottom: 4rem;
}
.comment__box__top__2 .comment_box_light {
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 90, 91, 0),
    rgba(255, 116, 116, 1)
  );
  border: 0.1px solid #5a5859;
  height: 20rem;
  width: auto;
  padding: 2rem;
  margin-right: 6rem;
}
/* .comment_box_light*/
.five_stars {
  margin-bottom: 1.5rem;
}
.four_stars {
  margin-bottom: 1.5rem;
}
.comment__para {
  font-size: small;
  margin-bottom: 1.5rem;
  color: #fff;
}
.comment__subpara {
  font-size: small;
  color: #fff;
}
.comment__subpara .comment__span {
  font-size: smaller;
  color: #fff;
}
.comment__box__down__2 {
  display: flex;
}
.comment__box__top__2 .comment_box_dark_1 {
  background-color: #242329;
  height: 20rem;
  padding: 2rem;
  border: 0.1px solid #5a5859;
}
.comment__box__down__2 .comment_box_dark_2 {
  background-color: #242329;
  border: 0.1px solid #5a5859;
  height: 20rem;
  padding: 2rem;
  margin-right: 6rem;
}
.comment__box__down__2 .comment_box_dark_3 {
  background-color: #242329;
  border: 0.1px solid #5a5859;
  height: 20rem;
  padding: 2rem;
}
.buttons {
  margin-top: 4rem;
  text-align: center;
}
.buttons .horizontal-line {
  width: 5rem;
  height: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #ff00ec;
  margin-right: 0.5rem;
  transition: all 0.2s ease;
}
.buttons .round {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  border: none;
  margin-right: 0.5rem;
  background-color: #ff00ec;
  transition: all 0.2s ease;
}

.horizontal-line:hover {
  background-color: #c21eb5;
  box-shadow: 0px 0px 7px #888888;
  cursor: pointer;
}
.round:hover {
  background-color: #c21eb5;
  box-shadow: 0px 0px 7px #888888;
  cursor: pointer;
}
/*---------------- Section 6 --------------*/
.section__sixth {
  height: 75vh;
  width: 100%;
  background-color: #1c1c1c;
}
.section__rectangle__diamond {
  position: relative;
}
.section__rectangle__diamond .rectangle_back {
  width: 152.4rem;
  height: 55rem;
}
.rectangle_front {
  position: absolute;
  top: 0;
  left: 0;
  width: 152.4rem;
  height: 55rem;
}
.diamond_left {
  position: absolute;
  top: 0;
  left: 0;
}
.diamond_right {
  position: absolute;
  top: 0;
  right: 0;
}
/* .last__heading {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
} */
.last__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 5rem;
  width: 96rem;
}
.last__heading .last__heading_span {
  color: #1c1c1c;
}
.section__sixth__heading {
  display: flex;
  position: relative;
  margin-top: 6rem;
  margin-bottom: 6rem;
  margin-left: 42rem;
}

.section_sixth_get_started {
  display: flex;
  align-items: center;
  justify-items: center;
}

.section_sixth_get_started .sixth_btn-pink {
  position: absolute;
  height: 2rem;
}
.sixth_get-started {
  z-index: 2;
  color: #fff;
  margin-left: 1.5rem;
  font-size: small;
}
.section__left__second__para .right-arrow {
  margin-left: 1rem;
}

/*------------------ Footer  -----------------*/
.footer {
  height: 20vh;
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_logo {
  margin-right: 35rem;
}
.footer_menu ul {
  display: flex;
}
.footer_menu .footer_item {
  list-style-type: none;
  color: #fff;
  margin-right: 2rem;
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}
