@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 1440px;
  height: 100%;
  margin: auto;
}
/*-------------Section 1 ------------*/

.section-one {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/Assets/Photos/futuristic-bg.png);
  background-position: center;
  background-size: cover;
  min-height: 30rem;
  width: 1440px;
}
.navbar {
  display: flex;
  padding: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  justify-content: space-between;
  align-items: center;
}
.logo {
}
.left_menu {
}
.menu_list {
  display: flex;
  gap: 3rem;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.5rem;
}
.menu_items {
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  max-width: 15rem;
  /* background-color: coral; */
  margin: 0.5rem 1rem;
  cursor: pointer;
  transition: all 1s;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}
.menu_items:hover {
  background-color: #dc143c;
  transition: all 0.5s;
  transform: scale(1.5);
  box-shadow: inset 0 0 8px 8px #2f2f2f;
}

.menu_signup {
  display: flex;
  align-self: center;
  padding: 0 1rem;
  max-height: 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  transition: all 1s;
}
.menu_signup:hover {
  transition: all 0.5s;
  transform: scale(1.5);
}

/* Section-one-Content-left */
.section-one-left,
.section-one-right {
  padding: 3rem;
  margin-left: 2rem;
  width: 50%;
}
.section-left-heading {
  margin-bottom: 2rem;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  animation: blink 3s infinite;
  -webkit-animation: blink 3s infinite;
}
@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
.heading-white {
  white-space: nowrap;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.section-left-para {
  margin-bottom: 5rem;
  margin-top: 5rem;
}
/* Typography */
.para-white {
  color: #fff;
  line-height: 2rem;
  font-size: larger;
}
.section-one-btn {
}
.get-started-1 {
  margin-right: 1.5rem;
}
/* --------Typography-------- */
.btn-primary {
  padding: 1rem 2rem;
  border: none;
  background-color: #fb5944;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-primary:hover {
  background-color: #fff;
  color: #000000;
  transition: all 0.5s;
  transform: scale(1.1);
}
.learn-more {
  padding: 1rem 2rem;
  background: transparent;
  color: #fbf9f9;
  border: 1px solid;
  cursor: pointer;
}
.section-one-right .button-play {
  position: relative;
  top: -25rem;
  left: 80rem;

  cursor: progress;
  transition: all 1s;
}
.button-play:hover {
  filter: drop-shadow(0px 0px 30px white);
  transition: all 0.5s;
}
.right-dash {
  display: flex;
  position: relative;
  top: -10rem;
  left: 70rem;
  font-size: 1.5rem;
  color: #fff;
}
.dash {
  display: flex;
  align-self: flex-start;
  margin-right: 1rem;
}
.right-dash .right-arrow {
  margin-left: 10rem;
}

/* ------------ Section-2 --------------- */

.section-two {
  background: -webkit-linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 1.5rem;
}
.section-two-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
}
/* --------Typography-------- */
.section-top-heading {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  animation: blink 3s infinite;
  -webkit-animation: blink 3s infinite;
}
@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
.section-two-downloads {
  display: flex;
  position: relative;
}

/* ------Utility class-------- */
.section-two-card {
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  width: 25%;
  height: 35rem;
  transition: all 1s;
}
.section-two-card:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  box-shadow: 0 0 25px grey;
}
.card-1 {
  background-image: url(/Assets/Photos/image_2.png);
  margin-right: 2rem;
}
.card-2 {
  background-image: url(/Assets/Photos/image_4.png);
  margin-right: 2rem;
}
.card-3 {
  background-image: url(/Assets/Photos/image_3.png);
  margin-right: 2rem;
}
.card-4 {
  background-image: url(/Assets/Photos/Rectangle_56.png);
}

.game-card-detail {
  background-color: rgba(73, 78, 80, 0.6);
  position: relative;
  bottom: -27rem;
  height: 8rem;
  /* margin-right: 2rem; */
}
.game-detail {
  position: absolute;
  /* bottom: -10rem;*/
  left: 0;
  right: 0rem;
  top: 0;
}
.game-detail p {
  color: #fff;
  font-size: small;
  padding: 0.4rem;
  margin-left: 0.5rem;
}
.game-detail .action {
  font-weight: 200;
  padding: 0.2rem;
  margin-left: 1rem;
}
.stars {
  margin-left: 1rem;
}
.game-detail button {
  position: relative;
  right: -15rem;
  top: -3rem;
  background-color: #fb5944;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 1s;
}
.game-detail button:hover {
  background-color: #fff;
  color: #000000;
  transition: all 0.5s;
}

/*------------ Section - 3 ----------*/
.section-three {
  display: flex;
  background: -webkit-linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.section-three-image,
.section-three-right {
  width: 50%;
  padding: 10rem 3rem;
}
.section-three-image {
  margin-right: 4rem;
  margin-left: 2rem;
}

.section-three-image-5 {
  width: 100%;
  height: 35rem;
  transition: all 1s;
}
.section-three-image-5:hover {
  box-shadow: 0px 0px 40px grey;
  transition: all 0.5s;
}
/* .section-three-right{
 
} */
.section-three-heading {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  animation: blink 3s infinite;
  -webkit-animation: blink 3s infinite;
}
@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
.section-three-para {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.section-three-btn .explore-now {
  margin-right: 1.5rem;
}
/* -------------------Section-4  -------------- */

.section-four {
  background: linear-gradient(to bottom, #200122, #6f0000);
}
.section-four-top {
  display: flex;
  justify-content: space-between;
  padding: 7rem 3rem;
  margin-left: 2rem;
}
.section-four-heading {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  animation: blink 3s infinite;
  -webkit-animation: blink 3s infinite;
}
@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
.section-left-right-btn .left-arrow {
  color: #fb5944;
  background-color: #fff;
  padding: 0.5rem;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
}
.section-left-right-btn .next-arrow {
  background-color: #fb5944;
  border: none;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
}
.battle_games-top-2 {
  display: flex;
  margin-bottom: 3rem;
  padding: 0px 3rem;
  margin-left: 2rem;
}
.battle_games-bottom-2 {
  display: flex;
  padding: 0px 3rem;
  margin-left: 2rem;
}
.section-four-1st-card {
  margin-right: 4rem;
  transition: all 1s;
}
.section-four-1st-card:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 30px grey;
  scale: 1.1;
}
.section-four-2nd-card {
  transition: all 1s;
  /* margin-left: -1rem; */
}
.section-four-2nd-card:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 30px grey;
  scale: 1.1;
}
.section-four-3rd-card {
  margin-right: 4rem;
  margin-bottom: 3rem;
  transition: all 1s;
}
.section-four-3rd-card:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 30px grey;
  scale: 1.1;
}
.section-four-4th-card {
  margin-bottom: 3rem;
  transition: all 1s;
}
.section-four-4th-card:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 30px grey;
  scale: 1.1;
}
.all-four-cards {
  display: flex;
  width: 50%;
}
.section-four-image {
  /* margin-right: 2rem; */
}
.section-four-image {
  max-width: 100%;
  height: 25rem;
  margin-right: 2rem;
  /* margin-left: 2rem; */
}
.section-four-content-odd {
  margin-top: 1rem;
  max-width: 50%;
}
.section-four-content-odd .section-four-subheading {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.section-four-subheading .span {
  font-size: 1rem;
  font-size: 400;
}
.section-four-content-odd .section-four-para {
  margin-bottom: 2rem;
}
.section-four-content-even {
  margin-top: 1rem;
  /* margin-right: 4rem; */
  max-width: 50%;
}
.section-four-content-even .section-four-subheading {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.section-four-content-even .section-four-para {
  margin-bottom: 2rem;
}
/*  ------------- Section-5 ------------ */
.section-five {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(3, 10, 17, 1) 60%,
    rgba(13, 58, 68, 1) 100%
  );
}
.section-five-top {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5rem;
}
.section-five-heading {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  animation: blink 3s infinite;
  -webkit-animation: blink 3s infinite;
}
@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
.section-five-para {
  display: flex;
  position: relative;
  left: 48rem;
}
.game-world-svg {
  position: relative;
  margin-top: 1.5rem;
  right: 0;
  left: 35rem;
}
.section-five-images img {
  position: relative;
  transition: all 1s;
}
.section-five-images img:nth-child(1) {
  height: 30rem;
  left: 11rem;
  top: -13rem;
}
.section-five-images img:nth-child(2) {
  height: 25rem;
  left: 20rem;
  top: -7rem;
}
.section-five-images img:nth-child(3) {
  height: 20rem;
  left: 30rem;
  top: -7rem;
}
.section-five-images img:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 30px grey;
  scale: 1.1;
}
/* ---------------Section - 6 --------------*/

.section-six {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(3, 10, 17, 1) 60%,
    rgba(13, 58, 68, 1) 100%
  );
}
.section-six-top {
  position: relative;
}
.background-img {
  background-position: center;
  background-size: cover;
  filter: brightness(30%);
  height: 100%;
  width: 100%;
  position: relative;
}
.section-six-heading {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  animation: blink 3s infinite;
  -webkit-animation: blink 3s infinite;
}
@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
.para-six {
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.section-six-top button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.get-started-2:hover {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  scale: 1.1;
}
/* ----------- Section-6  ------------*/
/* .six-subsection {
} */
.row {
  display: flex;
  gap: 3rem;
  justify-content: space-evenly;
  margin-top: 3rem;
  padding: 3rem;
}
.column-1 {
  line-height: 4rem;
}
.column-1 .para-white {
  margin-bottom: 1.5rem;
}
.heading-flex {
  font-weight: bold;
}
.column-2 {
  color: #fff;
  line-height: 3rem;
}
.column-3 {
  color: #fff;
  line-height: 3rem;
}
.column-4 {
  color: #fff;
  line-height: 3rem;
}
.column-5 {
  color: #fff;
  line-height: 3rem;
}

footer {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(3, 10, 17, 1) 60%,
    rgba(13, 58, 68, 1) 100%
  );
  min-height: 4rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
