@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: poppins, sans-serif;
}
.container {
}
/* ------------Section 1 -----------*/
.section-one {
  background-color: #000000;
  height: 100vh;
}

.navbar {
  display: flex;
  padding: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 4rem;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  list-style-type: none;
  gap: 3rem;
}
.menu-items {
  font-size: 2rem;
  color: #faebd7;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu-items:hover {
  color: #456dff;
  scale: 1.3;
}

.menu-right button {
  padding: 1.5rem 2.5rem;
  border-radius: 2.5rem;
  background-color: #456dff;
  color: #faebd7;
  font-weight: 600;
  border: none;
  transition: all 0.3s ease;
}
.menu-right button:hover {
  background-color: #faebd7;
  color: #456dff;
  transition: all 0.1s ease;
  cursor: pointer;
}
.section-one-left {
  margin-left: 3rem;
  margin-top: 6rem;
  padding: 4rem;
}
.section-heading-left {
  margin-bottom: 4rem;
}
.section-heading-left span {
  color: #456dff;
  font-style: italic;
}
.heading-white {
  color: #fff;
  font-size: 5rem;
}
.section-left-para {
  margin-bottom: 4rem;
}
.para-white {
  color: #faebd7;
  font-size: 2rem;
}
.section-one-buttons button {
  padding: 1.5rem 2.5rem;
  border-radius: 2.5rem;
  border: none;
  background: transparent;
  border: 0.1rem solid #fff;
  color: #faebd7;
  font-weight: 600;
  transition: all 0.3s ease;
}
.section-one-buttons button:first-child {
  margin-right: 2rem;
}
.section-one-buttons button:hover {
  background-color: #faebd7;
  color: #456dff;
  transition: all 0.1s ease;
  cursor: pointer;
}
.section-one-right {
  position: absolute;
  right: 7rem;
  top: 21rem;
}
/* ----------FOUR LOGOS */
.four-logos {
  background-color: #232222;
  padding: 2.5rem;
  display: flex;
  justify-content: space-around;
}
/* ------------ Section 2 ------------------ */
.section-two {
}
.section-two-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.heading-black {
  font-size: 4rem;
  color: #000000;
}
.section-two-para {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 7rem;
}
.para-black {
  font-size: 2rem;
  font-weight: 300;
}
.section-two-box {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}
.box-white {
  border: 1px solid #456dff;
  border-radius: 1rem;
  padding: 6rem 2rem;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}
.box-white:hover {
  margin-top: -2rem;
  margin-bottom: 2rem;
  background-color: #000000;
  color: #fff;
  transform: translateY(-1rem);
  transition: all 0.5s ease;
}
.box-white h3 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.box-white p {
  font-size: 1.7rem;
  text-align: center;
  font-weight: 500;
  color: #838383;
}
.section-two-svg {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 2rem;
}
.features-heading {
  margin-left: 3rem;
  padding: 4rem;
}
.section-two-features {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8rem;
}
.feature-left {
  margin-left: 3rem;
  padding: 0rem 4rem;
  width: 50%;
  height: 50%;
}
.feature-left h4 {
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  border-radius: 3rem;
  max-width: 100%;
  font-size: 3rem;
  font-weight: 500;
  border: 1px solid #232222;
  transition: all 0.5s;
}
.feature-left h4:last-child {
  margin-bottom: 0;
}

.feature-left h4:nth-child(1) {
  background-color: #456dff;
  cursor: pointer;
}
.feature-left h4:not(:first-child):hover {
  background-color: #456dff;
  transition: all 0.5s ease;
  cursor: pointer;
}
.feature-right {
  width: 50%;
  height: 50%;
  margin-right: 3rem;
  padding: 4rem;
  background-color: #000000;
  border-radius: 2rem;
}
.list-itmes {
  display: flex;
  align-items: center;
  color: #838383;
  background-color: #232222;
  font-size: 2rem;
  border-radius: 2.5rem;
  margin-bottom: 2rem;
  padding: 1rem 1rem;
  max-width: 100%;
  cursor: pointer;
  transition: all 0.5s;
}
.round {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #000000;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.list-itmes:last-child {
  margin-bottom: 0;
}
.list-itmes:hover {
  background-color: #838383;
  color: #232222;
  transition: all 0.3s;
}

/* ------------Section 3 --------------- */

.section-three {
  background-color: #000000;
}
.section-three-top {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.arrow {
  margin-top: 6rem;
}
.section-three-heading {
  text-align: center;
  margin-right: 3rem;
  margin-left: 3rem;
}
.section-three-cards {
  display: flex;
  justify-content: space-evenly;
}
.card-1 {
  background-color: #fff;
}
.card-2 {
  background-color: #456dff;
  color: #fff;
}
.card-3 {
  background-color: #fff;
}

.cards {
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
  /* max-width: 50%;
  max-height: 50%; */
}
.cards h2 {
  font-size: 3.5rem;
}
.cards > p:nth-child(2) {
  font-size: 4rem;
}
.cards p span {
  color: #232222;
  font-size: 2.5rem;
}
.cards > p:nth-child(3) {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}
.card-1 > p:nth-child(3) {
  margin-bottom: 3.5rem;
}
.plan-benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 3rem;
}
.plan-benefits > p {
  margin-bottom: 3rem;
}
.card-1 > button,
.card-3 > button {
  padding: 1rem 8rem;
  margin: auto;
  display: flex;
  align-content: center;
  font-size: 2.5rem;
  border-radius: 2rem;
  background-color: #456dff;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}
.card-2 > button {
  padding: 1rem 8rem;
  margin: auto;
  display: flex;
  align-content: center;
  font-size: 2.5rem;
  border-radius: 2rem;
  background-color: #fff;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}
.card-1 button:hover,
.card-3 button:hover {
  transition: all 0.5s;
  background-color: #fff;
  border: 1px solid #456dff;
  box-shadow: 2px 1px 10px #456dff;
}
.card-2 button:hover {
  transition: all 0.5s;
  background-color: #456dff;
  border: 1px solid #fff;
  box-shadow: 2px 1px 10px #fff;
}
/*------------ Section 4 ------------*/
.section-four {
}
.section-four-top {
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 4rem;
  justify-content: space-between;
}
/* h4 {
  display: flex;
  gap: 100px;
  align-items: center;
}
.svg1 {
  height: 50px;
} */

/* .feature-right {
  background-color: black;
  width: 600px;
}
.feature-list {
  margin: 0;
  padding: 0;
}
.list-itmes {
  color: aliceblue;
  font-size: larger;
  background-color: #2d2c2c;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 15px;
  width: 80%;
  overflow: hidden;
  list-style-type: none;
  display: flex;
}
.round {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
} */
.section-three-heading {
  display: flex;
}
