/* h4 {
  display: flex;
  gap: 100px;
  align-items: center;
}
.svg1 {
  height: 50px;
} */

/* .feature-right {
  background-color: black;
  width: 600px;
}
.feature-list {
  margin: 0;
  padding: 0;
}
.list-itmes {
  color: aliceblue;
  font-size: larger;
  background-color: #2d2c2c;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 15px;
  width: 80%;
  overflow: hidden;
  list-style-type: none;
  display: flex;
}
.round {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
} */
.section-three-heading {
  display: flex;
}
